asgiref==3.8.1
cffi==1.17.1
cryptography==44.0.3
Django==5.2
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-extra-fields==3.7.0
filetype==1.2.0
Markdown==3.8
pillow==11.2.1
pycparser==2.22
PyJWT==2.9.0
rest-framework-simplejwt==0.0.2
sqlparse==0.5.3
